.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas: "Navigation Navigation Navigation Navigation" "Family-Photo Family-Photo Family-Photo Family-Photo" "Mission-Statement Mission-Statement Mission-Statement Mission-Statement" "Whats-New Whats-New Members Members" "Leadership Leadership Leadership Leadership" "Contact-Us Contact-Us Contact-Us Contact-Us";
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.Navigation { 
  grid-area: Navigation; 
  outline: 2px dotted red;
  overflow: hidden;
  background-color: #333;
}

.Navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Navigation a:hover {
  background-color: #ddd;
  color: black;
}

.Navigation a:active {
  background-color: #4CAF50;
  color: white;
}

.Family-Photo { 
  grid-area: Family-Photo; 
  outline: 2px dotted green;
}

.Mission-Statement { 
  grid-area: Mission-Statement;
  outline: 2px dotted orange; 
}

.Whats-New { 
  grid-area: Whats-New;
  outline: 2px dotted blue; 
}

.Members { 
  grid-area: Members; 
  outline: 2px dotted purple;
}

.Leadership { 
  grid-area: Leadership; 
  outline: 2px dotted black;
}

.Contact-Us { 
  grid-area: Contact-Us; 
  outline: 2px dotted cyan;
}