@import url("nav.css");
@import url("normalize-style.css");
@import url("myButton.css");
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.4em 0.75fr 0.3fr 1fr 0.5fr 0.2fr;
    gap: 0px 0px;
    grid-template-areas: "Navigation Navigation" "About About" "president_contact vp_contact" "contact contact";
}

.Navigation {
    grid-area: Navigation;
}

.About {
    grid-area: About;
    padding-bottom: 2em;
    padding: 0.5em 0;
}

.contact {
    grid-area: contact;
    margin: 2% 2.5%;
}

.president_contact {
    grid-area: president_contact;
}

.vp_contact {
    grid-area: vp_contact;
}

.members {
    grid-area: members;
    padding-bottom: 2em;
}

.members h1 {
    background: #82273E;
    color: #FFF;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
}

.members_container {
    background-color: #D9D9D9;
    border: solid;
    border-width: 0.1em;
    color: #000;
    margin: 0 1%;
}

.members_header {
    background-color: #82273E;
    width: 100%;
    border-bottom: solid;
    border-width: 0.15em;
    color: #000;
}

.members_content {
    gap: 1em 1em;
    padding: 0.5em 0;
    margin: 0.5em 1em;
}

.member_item {
    background-color: #FFF;
    border: 2px solid #000;
}

.member_item h3 {
    text-align: center;
    padding-top: 0.3em
}

.member_item p {
    padding: 0.1em;
    margin: 0;
    text-align: center;
}

.member_item span {
    display: block;
    margin: auto auto;
    text-align: center;
}

.member_item a {
    color: #82273E;
}

.members img {
    width: 43.5%;
    display: block;
    margin: 0 auto;
}

.mission_text p {
    font-size: 1.2vw;
    width: 70%;
}

.About h1 {
    color: #FFF;
    text-align: center;
    padding: 0.5em 0;
}

.new_container {
    background-color: #D9D9D9;
    border: solid;
    border-width: 0.1em;
    color: #000;
    margin: 0 1%;
}

.new_header {
    background-color: #82273E;
    width: 100%;
    border-bottom: solid;
    border-width: 0.15em;
    color: #000;
}

.About h2 {
    padding: 0 1em;
}

.About p {
    font-size: 1.1vw;
    padding: 0 1em;
}

.contact_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0em 0em;
    grid-template-areas: "contact_info bottom_nav";
}

.contact_info {
    display: inline;
}

.bottom_nav {
    display: inline;
}

.bottom_nav ul {
    list-style: none;
    text-align: right;
}

.bottom_nav a {
    color: #82273E;
}