@import url("nav.css");
@import url("nromalize-style.css");

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.09fr 1fr 0.3fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "Navigation Navigation" "triangle_photo triangle_photo" "mission mission" "new members" "leadership leadership" "contact contact";
}

.mission {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "mission_text join";
  grid-area: mission;
}

.mission_text {
  grid-area: mission_text;
  margin-left: 1em;
}

.join { grid-area: join; }
.mission_text p{
  font-size: 1.2vw;
  width: 70%;
}
.join button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8F8581; /* Green */
  border: solid #000;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.5vw;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;

}
.new {
  grid-area: new;
  background-color: #ECEFF1;
}
.new article{
  background-color: #FFF;
  margin: 1em;
  padding: 0.5em 0;
  border-radius: 0.2em;
}
.members { grid-area: members; }

.leadership { grid-area: leadership; }

.contact { grid-area: contact; }

.triangle_photo {
  grid-area: triangle_photo;
  position: relative;
}
body {
  margin: 0;
}
.triangle_photo img{
  width: 100%;
}
.text_block{
  position: absolute;
  display: block;
  background: #fff;
  bottom: 2.5em;
  right: 0;
  width: 30%;
}
.text_block p{
  font-size: 1.5vw;
  padding: 0 1em 0 1em;
}
