@import url("nav.css");
@import url("normalize-style.css");

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3.4em 0.75fr 0.3fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "Navigation Navigation" "triangle_photo triangle_photo" "mission mission" "new members" "leadership leadership" "contact contact";
}

.mission {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "mission_text join";
  grid-area: mission;
  margin: 0 5%;
}

.mission_text {
  grid-area: mission_text;
  margin: 1em 0 0 0;
}

.join { grid-area: join; }
.mission_text p{
  font-size: 1.2vw;
  width: 70%;
}
.join button{
  display: block;
  margin-left: auto;
  margin-right: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: #82273E;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  font-size: 1.5vw;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  border-radius: none;

}
.new {
  grid-area: new;
  background-color: #82273E;
}
.new h1{
  background: #82273E;
  color: #FFF;
  padding: 0.5em 0em 0.5em 0em;
  text-align: center;
  margin: 0.2em;
}
.new h2{
  padding: 0 1em;
}
.new p{
  font-size: 1.1vw;
  padding: 0 1em;
}
.new article{
  background-color: #FFF;
  margin: 1em;
  padding: 0.5em 0;
  border-radius: 0.2em;
}
.members {
  grid-area: members;
  background: #82273E;
}
.member_item{
  display: grid;
  grid-template-columns: 30% 60%;
  grid-template-rows: 1fr;
  gap: 1em 1em;
  grid-template-areas: "profile_image member_info";
  padding: 0.5em 0;
}
.member_item a{
  color: #82273E;
}
.members h1{
  background: #82273E;
  color: #FFF;
  padding: 0.5em 0em 0.5em 0em;
  text-align: center;
  margin: 0.2em;
}
.members img{
  width: 100%;
}

.leadership { grid-area: leadership; }

.contact { grid-area: contact; }

.triangle_photo {
  grid-area: triangle_photo;
  background: rgba(0, 0, 0, 0.1);
}
.main_image{
  width: 90%;
  max-width: 1380px;
  display: block;
  margin: auto;
  position: relative;
}
.main_image img{
  width: 100%;
}
.text_block{
  position: absolute;
  display: block;
  background: #fff;
  bottom: 2.5em;
  right: 0;
  width: 30%;
}
.text_block p{
  font-size: 1.5vw;
  padding: 0 1em 0 1em;
}
