body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .Navigation { 
    grid-area: Navigation; 
    overflow: hidden;
    background-color: #82273E;
  }
  
  .Navigation a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .Navigation img {
    height: 100%;
  }
  
  .Navigation a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .Navigation a:active {
    background-color: #2F6E41;
    color: white;
  }