h1{
  font-family: 'Merriweather', serif;
}
h2{
  font-family: 'Merriweather', serif;
}
h3{
  font-family: 'Merriweather', serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}
a{
  font-family: 'Open Sans', sans-serif;
}
body{
	margin: 0;
}
