@import url("nav.css");
@import url("normalize-style.css");

.grid_container{
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	grid-template-rows: 1fr;
	gap: 1px 1px;
	grid-template-areas: "new_text newest_event";
	margin: 0 5%;
}

.new_text{
	grid-area: new_text;
	width: 90%;
	display: block;
	margin-top: 4em;
	border-right: solid 1px #000;
}
.new_text h1{
	font-size: 3.5vw;
	width: 80%;
}
.new_text p{
	width: 81%;
	font-size: 1.5vw;
}
.newest_event{
	margin: 6em 0 0 0;
	grid-area: newest_event;
}
.newest_event article{
	margin-right: 5%;
	width: 90%;
	float: right;
}
.newest_event img{
	width: 100%;
}
.newest_event h3{
	font-size: 1.7vw;
	text-align: center;
	padding-bottom: 0.5em;
}
.newest_event p{
	padding-top: 0.2em;
}
button {
    display: block;
    margin: 0.5em auto;
    background-color: #82273E;
    border-color: #000;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.5vw;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    border: none;
		margin-top: 2em;
}
.title{
	margin: 0 5%;
	padding-top: 4em;
}
.title h1{
	font-size: 3.5vw;
}
.new_feed{
	padding-top: 4em;
	margin: 0 5%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
	grid-gap: 2em;
}
.new_feed img{
	width: 100%;
}
.new_feed article{
	width: 90%;
	padding-right: 2em;
	border-right: solid 1px #000;
}
article:last-of-type{
	width: 90%;
	border: none;
}
