@import url("nav.css");
@import url("normalize-style.css");

.grid_container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 1px 1px;
	grid-template-areas: "new_text newest_event" "new_feed new_feed";
}

.new_text{
	grid-area: new_text;
	width: 90%;
	display: block;
	margin: 4em 5%;
}
.new_text p{
	width: 90%;
}
article{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	width: 100%;
	background: #82273E;
	display: block;
	margin: 0 auto;
	padding: 0em;
}
article img{
	width: 80%;
	padding: 1em;
	display: block;
	margin: 0 auto;
}
article p{
	color: #FFF
}
article h1{
	color: #fff;
}
.newest_event{
	margin: 3em 0 0 0;
	grid-area: newest_event;
}
.newest_event article{
	margin-right: 5%;
	width: 70%;
}
.new_feed{
	padding: 3em 0 0 0;
	margin: 0 2.5%;
	grid-area: new_feed;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
	grid-gap: 2em;
}
.new_feed h1{
	padding: 1em;
}
.new_feed p{
	padding: 1em;
}
.newest_event h1{
	padding: 1em;
}
.newest_event p{
	padding: 1em;
}
